.desk {
    display: flex;
    justify-content: space-between;
    background-color: tan;
    width: 70%;
    margin: auto;
    height: 25px;
}


.contact {
    position: relative;
    top: -40px;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 150px;

}

.clock {
    background-color: black;
    padding: 10px;
    color: white;
    position: relative;
    top: -112px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
}

.right-side-desk {
    display: grid;
    flex-direction: column;


}
