.file-container {
    cursor: default;
}
.file-open{
    transform: rotate(-90deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 30px;
    margin: 10px;
    cursor: default;
}

.file-closed {
    cursor: default;
    text-transform: capitalize;
    
}
.page {
    display: grid;
    grid-template-rows: .5fr 1fr;
    align-items: center;
}
.project-link {
    /* transform: rotate(-90deg); */
    width: 60%;
    margin: 20%;
    
}

.project-link img {
    width:100%;
 
}

.project-name {
    width: 100%;
    padding: 0 10px;
    text-transform: capitalize;
  
}

.file-open:hover iframe {
    transform: scale(5);
}


