* {
    box-sizing: border-box;
  }
  
  /* html {
    background: linear-gradient(to bottom, #919191 0%,#f2f2f2 75%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  } */
  
  .cabinet {
    background-color: #202020;
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 80px auto;
    border-radius: 3px;
   }


  
  .drawer {
    position: relative;
    width: 100%;
    height: 50%;
    border: 2px solid #000000;
    margin: 0 auto;
    background: linear-gradient(135deg, #828282 0%,#202020 40%);
    background-size: 100%;
    transition: all 1s;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    z-index: 1;
    cursor: pointer;
  }


.drawer:hover .file {
    display: flex;
    justify-content: center;
}

.drawer-open {
    background-size: 200%;
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.7); 
}

.files-open {
    display: block;
}
/* .drawer .files {
        display: block;
        height: 25px;
        top: -27px;
      } */
    
  
  
  .wrapper {
    margin: 0 auto;
    top: 50%;
    transform: translatey(-50%);
    position: relative;
    width: 100px;
  }
  
  label {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    border: 2px solid #dddddd;
    margin-bottom: 30px;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,1);
    margin: 0 auto 30px auto;
    background-color: beige;
  }
  
  .handle {
    display: block;
    position: relative;
    background: linear-gradient(to bottom,  #dddddd 0%, #5e5e5e 100%);
    width: 100%;
    height: 7px;
    box-shadow: 0px 0px 5px rgba(0,0,0,1);
  }
  
  .file {
    display: none;
    position: absolute;
    background-color: beige;
    width: 95%;
    height: 20px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    box-shadow: -2px -2px 5px rgba(0,0,0,0.2);
    transition: all 1s;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    cursor: default;
  }

  .move-right1 {
      transform: rotate(90deg) ;
      /* right: -175%;  */
      height: 100%;
      display: flex;
      transition: all 1s;
      bottom: 0;
      
  }
  .move-right2 {
    transform: rotate(90deg) ;
    /* right: 0%; */
    height: 100%;
    display: flex;
    transition: all 1s;
    bottom: -250%;
}
.move-right3 {
    transform: rotate(90deg) ;
    /* right: -175%; */
    height: 100%;
    display: flex;
    transition: all 1s;
    bottom: -500%;
    
}
.move-right4 {
  transform: rotate(90deg) ;
  /* right: -175%; */
  height: 100%;
  display: flex;
  transition: all 1s;
  bottom: -750%;
  
}
.move-rightr {
    transform: rotate(90deg) ;
    /* right: -175%;  */
    height: 100%;
    display: flex;
    transition: all 1s;
    bottom: 0;

}

  .move-left {
    transform: rotate(-90deg) scale(1);
    right: 0;
    height: 100%;
    display: block;
    transition: all 1s;
    
}
  /* .file:hover {
      
      right: -200%;
      height: 100%;
  } */
  /* .files:before,
  .files:after {
      position: absolute;
      top: -10px;
      height: 10px;
      width: 50%;
      box-shadow: -1px -2px 5px rgba(0,0,0,0.2);
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    } */
    /* .files:before {
      content: '';
      background-color: beige;
      left: 0;
    } */
    /* .files:after {
      content: '';
      background-color: darken(beige, 10%);
      right: 0;
    } */
    .project1 {
        top: -40px;
    }
    .project2 {
        top: -60px;
     
    }
    .project3 {
        top: -80px;
    }
    .project4 {
     
        top: -100px;
    }

    .resume {
        top: -20px;
    }

@keyframes open-file{
    from {
        transform: scaleY(-1);
      }
      to {
        transform: scaleY(1);
      }
}
  