.project-container {
    display: grid;
    grid-template-rows: .1fr .3fr .1fr .1fr .1fr;
    align-items: center;
    justify-content: left;
    grid-gap: 5px;
    width: 80%;
    margin: 0 10%;
    
}

.project-container .project-name {
    text-transform: uppercase;
    align-items: center;
    line-height: 100px;
}

.project-container img {
    width: 100%;
}

.project-container .brief {
    font-weight: bolder;
}

.project-container .project-description {
    align-items: top;
   text-align: left;
   padding: 0 20px;
}

.project-container .buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.project-container .buttons a {
    align-items: center;
    display: flex;
    justify-content: center;
}
.back-button {
    width: 150px;
    height: 50px;
    background-color: dodgerblue;
    color: white;
    align-items: center;
    border-radius: 30px;
}

.go-button {
    width: 150px;
    height: 50px;
    background-color:green;
    color: white;
    align-items: center;
    border-radius: 30px;
}