
.frame {
    width: 200px;
    height: 200px;
    background-color: skyblue;
    border: solid 10px brown;
    margin: 40px auto;
    cursor: pointer;
   
}
.window-closed {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
}

.window-open {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.panel-left {
    
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}
.panel-right {

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    
}

.panel-left-open {
    transform: rotate(180deg);
    position: relative;
    left: -100%;
    top: -100%;
    border: 1px solid brown;
}
.panel-right-open {
    transform: rotate(180deg);
    position: relative;
    right: -100%;
    top: -100%;
    border: 1px solid brown;
}
.quater-panel-top-left {
    border-bottom: 5px solid brown;
    border-right: 5px solid brown;
}

.quater-panel-bottom-left {
    border-top: 5px solid brown;
    border-right: 5px solid brown;
}
.quater-panel-top-right {
    border-bottom: 5px solid brown;
    border-left: 5px solid brown;
}

.quater-panel-bottom-right {
    border-top: 5px solid brown;
    border-left: 5px solid brown;
}

.frame:hover {
    transform: scale(1.2);
}

.vision-statement {
    display: block;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
}

.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  @keyframes tilt-in-fwd-tr {
    0% {
      -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
              transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px) skew(-35deg, 10deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
              transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
      opacity: 1;
    }
  }
  